<app-svg-hero />
<div class="flex flex-col items-center px-[24px] py-[32px] sm:p-[48px]">
  <h1 class="text-heading text-center text-xl font-black sm:text-2xl">
    Order Summary
  </h1>
  <p
    class="text-body mb-[24px] mt-[16px] px-[8px] text-center text-base leading-[25px] sm:mb-[20px] sm:p-0 sm:text-lg sm:leading-[26px]"
  >
    You can now listen to millions of songs, audiobooks, and podcasts on any
    device anywhere you like!
  </p>
  <div
    class="flex items-center self-stretch rounded-[11px] bg-[#F7F9FF] p-[16px] sm:p-[24px]"
  >
    <app-svg-music-icon class="mr-[20px]" />
    <div class="flex flex-col gap-[3px] text-sm sm:gap-[6px] sm:text-lg">
      <span class="text-heading font-black">Annual Plan</span>
      <span class="text-body">$59.99/year</span>
    </div>
    <button
      class="text-accent hocus-visible:text-accent-light ml-auto text-xs font-bold underline hocus-visible:no-underline motion-safe:transition-colors sm:text-sm"
      type="button"
    >
      Change
    </button>
  </div>
  <button
    class="bg-accent hocus-visible:bg-accent-light my-[24px] h-[50px] self-stretch rounded-[11px] text-base font-black text-white shadow-button motion-safe:transition-colors sm:my-[32px]"
    type="button"
  >
    Proceed to Payment
  </button>
  <button
    class="text-body hocus-visible:text-heading text-base font-black motion-safe:transition-colors"
    type="button"
  >
    Cancel Order
  </button>
</div>
